cpbd==1.0.7
cupy==12.1.0
dash==2.9.3
face_recognition==1.3.0
huggingface_hub==0.14.0
matplotlib==3.7.1
mtcnn==0.1.1
numpy==1.24.3
opencv_python==4.8.0.74
opencv_python_headless==4.8.0.74
pandas==2.0.1
piexif==1.1.3
Pillow==9.5.0
Pillow==10.0.0
plotly==5.14.1
psutil==5.9.5
PyQt5==5.15.9
PyQt5_sip==12.12.1
Requests==2.31.0
skimage==0.0
tiktoken==0.4.0
tqdm==4.65.0
tweepy==4.14.0
