cpbd
cupy
dash
face_recognition
huggingface_hub
matplotlib
mtcnn
numpy
opencv_python
opencv_python_headless
pandas
piexif
Pillow
plotly
psutil
PyQt5
PyQt5_sip
Requests
skimage
tiktoken
tqdm
tweepy
brotli
tweepy
